<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="webb8.wathub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".init.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="H0NpxZR0eGLP4kgYFvHujDybG43HwI0ktVeWjN8u" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="JHfafPwkBXe0KEM4aUOPJ9GLtNbrlgMAPbejmh3I" />

        <activity
            android:name=".init.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".init.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".init.MainActivity" />
        </activity>
        <activity
            android:name=".login.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".init.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".init.MainActivity" />
        </activity>
        <activity
            android:name=".hub.HubActivity"
            android:label="@string/title_activity_post" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".search.SearchActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".hub.HubActivity" />

        <activity
            android:name=".search.SearchActivity"
            android:label="@string/action_search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".hub.HubActivity" />
        </activity>
        <activity android:name=".search.AdvancedSearchActivity"
            android:label="@string/action_advanced_search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".hub.HubActivity" />
        </activity>
    </application>

</manifest>
