<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="webb8.wathub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="H0NpxZR0eGLP4kgYFvHujDybG43HwI0ktVeWjN8u" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="JHfafPwkBXe0KEM4aUOPJ9GLtNbrlgMAPbejmh3I" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="webb8.wathub.MainActivity" />
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="webb8.wathub.MainActivity" />
        </activity>

        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post"></activity>
    </application>

</manifest>
